*.csv
*.log
src/algorithms/__pycache__
src/datasets/__pycache__
src/datasets/modules/__pycache__

# Ignore PyCharm files
.idea/

# Ignore Visual Studio Code settings
.vscode/
Pipfile*
.ipynb_checkpoints
input

*.png